@page
@model AddCourseModel
@{
    ViewData["Title"] = "Add Course";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to add new courses.</p>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Create a new course.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.CourseNr"></label>
                <input asp-for="Course.CourseNr" class="form-control" placeholder="1"/>
                <span asp-validation-for="Course.CourseNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Name"></label>
                <input asp-for="Course.Name" class="form-control" placeholder="I4-DAB"/>
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}