@page
@model AddStudentModel
@{
    ViewData["Title"] = "Add Student";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to add new students.</p>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Create a new student.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.AuId"></label>
                <input asp-for="Student.AuId" class="form-control" placeholder="123456"/>
                <span asp-validation-for="Student.AuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Name"></label>
                <input asp-for="Student.Name" class="form-control" placeholder="Jens Jensen"/>
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EnrolledDate"></label>
                <input asp-for="Student.EnrolledDate" class="form-control" placeholder="2017"/>
                <span asp-validation-for="Student.EnrolledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.GraduationDate"></label>
                <input asp-for="Student.GraduationDate" class="form-control" placeholder="2021"/>
                <span asp-validation-for="Student.GraduationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.GroupNr"></label>
                <input asp-for="Student.GroupNr" class="form-control" placeholder="21"/>
                <span asp-validation-for="Student.GroupNr" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}