@page
@model EnrollStudentInCourseModel
@{
    ViewData["Title"] = "Enroll Student In Course";
}

<h1>Use this page to enroll students in courses.</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Enroll student.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.studentId"></label>
                <select asp-for="Input.studentId" asp-items="Model.listStudents" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="Input.courseId"></label>
                <select asp-for="Input.courseId" asp-items="Model.listCourses" class="form-control"></select>
            </div> 

            <div class="form-group">
                <label>IsCoursePassed</label>
                <input type="checkbox" asp-for="Input.isCoursePassed"/>
            </div>

            <div class="form-group">
                <label>IsCourseActive</label>
                <input type="checkbox" asp-for="Input.isCourseActive"/>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>