@page
@model GradeAssignmentModel
@{
    ViewData["Title"] = "Grade assignment";
}

<h3>@ViewData["Title"]</h3>


<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Grade an assignment, by selecting a group, anassignment and a grade.</h5>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.groupId"></label>
                <select asp-for="Input.groupId" asp-items="Model.listGroups" class="form-control"></select>
                <span asp-validation-for="Input.groupId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.assignmentId"></label>
                <select asp-for="Input.assignmentId" asp-items="Model.listAssignments" class="form-control"></select>
                <span asp-validation-for="Input.assignmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.grade"></label>
                <select asp-for="Input.grade" asp-items="Model.listGrades" class="form-control"></select>
                <span asp-validation-for="Input.grade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.teacherId"></label>
                <select asp-for="Input.teacherId" asp-items="Model.listTeachers" class="form-control"></select>
                <span asp-validation-for="Input.teacherId" class="text-danger"></span>
            </div>
                <button type="submit" class="btn btn-primary">Assign</button>
            <br/>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}